.admin {
    display: flex;

    padding: 32px;
}

.admin__menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    box-sizing: border-box;
    width: 200px;

    border-right: 1px solid #000;
    background: #fff;
}

.admin__content {
    flex-grow: 1;

    margin-left: 200px;
}
